<app-header></app-header>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h3><b>Billing</b></h3>
        </div>
        <div class="col-12"><span>Manage your billing and payment teams</span></div>
    </div>
    <div class="mt-2 firstDivBorderBottom"></div>

    <div class="row mt-5 secondRowMain">
        <div class="col-md-6 col-12 box-1">
            <div class="row rowstyle">
                <div class="col-md-6 col-12 mt-4 secondRowBox1Sub-1">
                    <h6><b>Basic Plan</b> <span>Monthly</span></h6>
                    <span>Our most popular plan for small teams</span>
                </div>
                <div class="col-md-6 col-12 mt-3 secondRowBox1Sub-2">
                    <h3><b>$10</b><span>per month</span></h3>
                </div>
              <div class="col-12">
              </div>
            </div>
        </div>
        <div class="col-md-6 col-12 box-2">
            <div class="row rowstyle">
                <div class="col-md-12 mt-4 secondRowBox2Sub-1">
                    <h6><b>Payment Method</b> <br> <span>Change how you pay for your plan</span></h6>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10 col-12 row visa">
                    <div class="col-md-2 visaFont">
                        <i class="fa-brands fa-cc-visa"></i>
                    </div>
                    <div class="col-md-8">
                        <h6>Visa ending in 1234</h6>
                        <span>Expiry 06/2024</span> <br>
                        <span> <i class="fa-solid fa-envelope"></i> ajith@gmail.com</span>
                    </div>
                    <div class="col-md-2">
                        <div><span class="edit">Edit</span></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

    </div>

    <div class="row thirdRowMain mt-5">
        <div class="col-md-10 col-6">
            <h6><b>Billing and invoice</b></h6>
            <span>Pick an account plan that fits your workflow</span>
        </div>
        <div class="col-md-2 col-6">
            <div class="dwn"><span><i class="fa-solid fa-cloud-arrow-down"></i>download</span></div>
        </div>
    </div>
    <div class="mt-2 firstDivBorderBottom"></div>

   <app-primengtable></app-primengtable>
</div>